$width-custom: calc(100% / 6);
.cart {
  &__wrap {
    background-color: #fff;
    padding: 2rem 0;
    position: relative;
  }
  &__list {
    display: flex;
    align-items: center;
    padding: 2rem 0;
  }

  &__item {
    width: $width-custom;
    text-align: center;
    &.title {
      font-weight: bold;
      margin-bottom: 0;
    }
    &.cashout {
      padding: 0;
      margin: 0;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
  &__img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }
  &__quantity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      padding: 0 1rem;
    }
    p {
      margin: 0 1rem;
    }
  }
}
.btn-checkout {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
