.heading {
  background-color: #fef7f6;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  &__left {
    display: flex;
    text-transform: uppercase;
    .heading__item:not(:first-child) {
      border-left: 1px solid #b3afaf;
    }
    .heading__item:first-child {
      padding-left: 0;
    }
  }
  &__right {
    .heading__item:not(:first-child) {
      border-left: 1px solid #b3afaf;
    }
    .heading__item {
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #ff6600;
      transition: color 0.25s linear;
      &:hover {
        color: #00ccff;
      }
    }
  }
  &__menu {
    width: 30rem;

    &-item {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__item {
    font-size: 1.1rem;
    font-family: var(--primary-font);
    padding: 0 2rem;
  }
  &__mail {
    display: inline-block;
    padding: 0 2rem;
  }
}
.menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f8eded;
  &-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    margin-right: 5rem;
    &-item {
      width: 100rem;
      color: #fc8383;
    }
  }
  &__cart {
    display: flex;
    &-icon {
      color: #fc8383;
      font-size: 4.2rem;
    }
  }
  &__router {
    display: flex;
    width: calc(100% / 2);
    justify-content: center;
  }
  &__item {
    margin: 0 3rem;
    font-size: 1.6rem;
    color: red;
    font-weight: bold;
    position: relative;
    padding-bottom: 0.2rem;
    transition: all 0.25s linear;
    &:hover {
      color: #fc8383;
    }
    &:before {
      content: "";
      position: absolute;
      width: 80%;
      height: 3px;
      border-radius: 2px;
      background-color: red;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s linear;
    }
    &:hover:before {
      opacity: 1;
      visibility: visible;
    }
  }
  &__active {
    color: red;
    position: relative;
    padding: 0 1rem;
    padding-bottom: 0.2rem;
    &:before {
      content: "";
      position: absolute;
      width: 80%;
      height: 3px;
      border-radius: 2px;
      background-color: red;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.25s linear;
      opacity: 1;
      visibility: visible;
    }
  }
}
.avatar-btn {
  cursor: pointer;
}

.heading__logout {
  margin-top: 1.5rem;
}
